.text-nombre {
    color: #DAF7A6;
    font-size: 54px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    opacity: 0;
    animation: aparecer1 0.6s forwards ease;
}

@keyframes aparecer1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.text-h3{
    color: #DAF7A6;
    font-size: 34px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    animation: aparecer2 1.8s forwards ease;

}
@keyframes aparecer2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.mt-300{
    margin-top: 200px;
    margin-left: 10%;
}

.text-body{
    color: white !important;
    font-size: 19px;
    animation: aparecer2 2.8s forwards ease;
}

.fa-brands{
    font-size: 52px;
    animation: aparecer2 1.8s forwards ease;
}

.fa-brands:hover{
    color: #dc3545 !important;
}
.abajo {
    position: relative; /* Para que el pseudo-elemento se posicione correctamente */
    width: 315px;
    height: 315px;
    background-image: url(../../../assets/images/2.png);
    background-position: 0px -55px;
    background-size: cover;

}

.arriba {
    position: relative; 
    width: 315px;
    height: 315px;
    background-image: url(../../../assets/images/1.png);
    background-size: cover;
    background-position: center;  
    animation: encima-reverse .6s backwards ease;

}

.arriba:hover {
    animation: encima .6s forwards ease;
}

@keyframes encima {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes encima-reverse {
    0% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 500px) {
    .mt-300 {
        margin-left: 0;
    }
}
