.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    
}

.contenedor figure{
    position: relative;
    width: 280px;
    height: 90px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all .2s linear;
    object-fit: cover;
}

.contenedor figure .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(1, 155, 167, 0.589), rgba(1, 70, 75, 0.5));
    opacity: 0;
    visibility: hidden;
    transition: all .5s linear;
}

.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover > img{
    transform: scale(1.8);
}

.titulo--card{
    color:#ffffff;
    font-size: 1.5rem;
}

.subtitulo--card{
    color:#ffffff;
    font-size: 1rem;
}

