<section class="w-[90%] xl:w-1/2 mx-auto mt-10 mb-20" id="proyecto">
  <h1 class="text-[#34cceb] title mb-6">
    Proyectos<span class="text-yellow-200 text-[12px] ml-2">+10 proyectos</span>
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div
      *ngFor="let proyecto of listProyectos"
      class="bg-[#1d2336] border border-[#34cceb] text-white rounded-lg shadow-lg overflow-hidden 
             transition-transform transform hover:scale-105 min-h-[400px] max-h-[420px] relative flex flex-col"
    >
      <a (click)="navegar(proyecto.url)" class="block flex-1">
        <img [src]="proyecto.urlImage" alt="{{ proyecto.titulo }}" class="w-full h-48 object-cover" />

        <div class="p-4 flex-1">
          <h3 class="text-xl font-bold text-[#34cceb]">{{ proyecto.titulo }}</h3>
          <p class="text-gray-400 text-sm mt-2 overflow-hidden">{{ proyecto.descripcion }}</p>
        </div>

        <div class="flex justify-around p-3 border-t border-gray-600 absolute bottom-0 w-full bg-[#1d2336]">
          <i class="fa-brands fa-angular" *ngIf="proyecto.tecnologias.includes('Angular')"></i>
          <i class="fa-brands fa-html5" *ngIf="proyecto.tecnologias.includes('HTML')"></i>
          <i class="fa-brands fa-php" *ngIf="proyecto.tecnologias.includes('Php')"></i>
          <i class="fa-brands fa-css3-alt" *ngIf="proyecto.tecnologias.includes('CSS')"></i>
          <i class="fa-brands fa-laravel" *ngIf="proyecto.tecnologias.includes('Laravel')"></i>
          <i class="fa-brands fa-node" *ngIf="proyecto.tecnologias.includes('Node')"></i>
          <i class="fa-brands fa-figma" *ngIf="proyecto.tecnologias.includes('Figma')"></i>
          <i class="fa-brands fa-react" *ngIf="proyecto.tecnologias.includes('React')"></i>
          <img src="../assets/images/c-sharp-c.svg" alt="C#" *ngIf="proyecto.tecnologias.includes('C#')" width="24px">
        </div>
      </a>
    </div>
  </div>
</section>
