<section class="w-[90%] xl:w-1/2 mx-auto mt-10 mb-20" id="proyectos">
  <h1 class="text-[#34cceb] title mb-6">
    Proyectos<span class="text-yellow-200 text-[12px] ml-2">
      <!-- Añadir subtitulo!!!!!! -->
    </span>
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let proyecto of listProyectos"
      class="bg-[#1d2336] border-1 border-[#34cceb] text-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 min-h-[450px] max-h-[500px] relative flex flex-col">

      <img [src]="proyecto.urlImage" alt="{{ proyecto.titulo }}" class="w-full h-48 object-cover" />

      <!-- Contenido de la tarjeta -->
      <div class="p-4 flex-1 relative min-h-[260px] pb-20">
        <h3 class="titulo font-bold text-[#34cceb]">
          {{ proyecto.titulo }}
        </h3>
        <p class="descripcion text-gray-400 text-sm mt-2 overflow-hidden">
          {{ proyecto.descripcion }}
        </p>

        <div class="absolute bottom-14 left-0 p-4 flex gap-2 z-10">
          <a class="text-white bg-[#34cceb] border border-white hover:text-[#34cceb] text-sm font-semibold py-1 px-2 rounded-md hover:bg-[#1d2336] transition duration-300 ease-in-out"
            [href]="proyecto.url" target="_blank" rel="noopener noreferrer">
            Ver Proyecto
          </a>
          <a class="text-white border border-white hover:text-[#34cceb] text-sm font-semibold py-1 px-2 rounded-md"
            [href]="proyecto.github" target="_blank" rel="noopener noreferrer">
            Ver repositorio
          </a>
        </div>
      </div>

      <!-- Iconos de tecnologías -->
      <div class="flex justify-around p-3 border-t border-gray-600 absolute bottom-0 w-full bg-[#1d2336] z-0">
        <img *ngIf="proyecto.tecnologias.includes('Angular')" src="https://cdn.simpleicons.org/angular/DD0031"
          alt="Angular" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('HTML')" src="https://cdn.simpleicons.org/html5/E34F26"
          alt="HTML5" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('Php')" src="https://cdn.simpleicons.org/php/777BB4"
          alt="PHP" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('Tailwind')" src="https://cdn.simpleicons.org/tailwindcss/06B6D4"
          alt="Tailwind CSS" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('Laravel')" src="https://cdn.simpleicons.org/laravel/FF2D20"
          alt="Laravel" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('Node')" src="https://cdn.simpleicons.org/nodedotjs/339933"
          alt="Node.js" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('Figma')" src="https://cdn.simpleicons.org/figma/F24E1E"
          alt="Figma" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('React')" src="https://cdn.simpleicons.org/react/61DAFB"
          alt="React" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('C#')" src="../assets/images/c-sharp-c.svg" alt="C#" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('MySQL')" src="https://cdn.simpleicons.org/mysql/4479A1"
          alt="MySQL" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('PostgreSQL')" src="https://cdn.simpleicons.org/postgresql/336791"
          alt="PostgreSQL" width="24px" />
        <img *ngIf="proyecto.tecnologias.includes('MongoDB')" src="https://cdn.simpleicons.org/mongodb/47A248"
          alt="MongoDB" width="24px" />
      </div>
    </div>
  </div>
</section>
