<div class=" w-[90%] md:w-1/2 mt-10 mx-auto h-2 bg-[#34cceb] bg-opacity-25 rounded-full"></div>
<div class="w-[90%] md:w-1/2 mt-2 mx-auto ">
    <h1 class="text-left text-[#34cceb] title">
        Educacion y certificados

    </h1>
</div>
<div class="w-[90%] md:w-1/2 mx-auto ">
    <h3 class="text-lg text-gray-500 dark:text-gray-300">
        Técnico Superior en Desarrollo de Aplicaciones Web | (DAW) - 2024 - IES San Sebastian Huelva 
    </h3>
   <p class="text-lg text-gray-500 dark:text-gray-300">
    Certificado  en IoT 5G - 2025 - 21006 Integra Conocimiento Innovación 
   </p>
</div>
<div class=" w-[90%] md:w-1/2 mt-2 mb-4 mx-auto h-2 bg-[#34cceb] bg-opacity-25 rounded-full"></div>