<div class=" w-[90%] md:w-1/2 mt-10 mx-auto h-2 bg-[#34cceb] bg-opacity-25 rounded-full"></div>
<div class="w-[90%] md:w-1/2 mt-2 mx-auto ">
    <h1 class="text-left text-[#34cceb] title">
        Educación y Certificados

    </h1>
</div>
<div class="w-[90%] md:w-1/2 mx-auto ">
    <h3 class="text-lg text-gray-500 dark:text-gray-300">
        Técnico Superior en Desarrollo de Aplicaciones Web | (DAW) - 2024 - IES San Sebastian Huelva
    </h3>
    <div class="w-full md:w-1/3 flex flex-col items-start justify-start gap-4">
        <span class="text-lg w-full text-gray-500 dark:text-gray-300  bg-slate-500/50
  hover:bg-gradient-to-b hover:from-teal-700 hover:to-teal-500/55  hover:shadow-lg
  py-1 px-4 rounded-md flex items-center flex-col justify-center gap-2 transform">

            <!-- svg -->
            <span class="font-bold flex items-center justify-evenly">
                <img src="assets/icons/badge2.svg" alt="" class="size-8">

                Certificado en IoT 5G 21006
            </span>

            <span class="block text-sm font-semibold text-left">- feb 2025 - Vodafone Esp</span>
        </span>

        <span
            class="text-lg w-full text-gray-500 dark:text-gray-300  bg-slate-500/50
  hover:bg-gradient-to-b hover:from-teal-700 hover:to-teal-500/55  hover:shadow-lg
  py-1 px-4 rounded-md flex items-center flex-col justify-center gap-2 transform">
            <!-- svg -->
            <span class="font-bold flex items-center justify-evenly">
                <img src="assets/icons/badge2.svg" alt="" class="size-8">
                Google IA Essentials
            </span>
            <span class="block text-sm font-semibold">- may 2025 - Google</span>

        </span>
    </div>
</div>
<div class=" w-[90%] md:w-1/2 mt-2 mb-4 mx-auto h-2 bg-[#34cceb] bg-opacity-25 rounded-full"></div>