<div class="custom-shape-divider-top-1739559071  bg-[#1d2336]">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" fill="#000512">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
    <div class="w-1/2 mx-auto py-10">
        <h1 class="text-[#000512] title">Location</h1>
        <p class="text-yellow-200">
            <i class="fas fa-map-marker-alt text-red-500"></i>&nbsp;Huelva Andalucía, Spain 

        </p>
        <p class="text-yellow-200"><i class="fas fa-envelope"></i>&nbsp;Contáctame por email en <strong>josvelsei&#64;gmail.com</strong></p>
        <p class="text-yellow-200"><i class="fas fa-phone-alt"></i>&nbsp;Llámame al <strong>+34 666 666 666</strong></p>
    </div>
</div>