<nav class="w-full sm:w-1/2 mx-auto  h-20 flex items-center justify-between px-4 sm:px-0">
    <a [routerLink]="['/']" class="flex items-center gap-2">
        <img src="../assets/icons/Untitled.svg" alt="Logo" width="62" >
        <span class="hidden md:block">JotaceCode</span> 
    </a>
    
    <span class="flex gap-1 hidden sm:block">
        <a href="">
            <i class="fa-brands fa-linkedin" style="color: #34cceb;"></i>
        </a>
        <a href="">
        <i class="fa-brands fa-square-github" style="color: #34cceb;"></i>
        </a>
    </span>

    <button (click)="toggleMenu()" class="w-fit md:hidden">
        <img src="../assets/icons/menu.svg" alt="Menú" width="52" height="30">
    </button>
</nav>

<!-- Menú desplegable -->
<nav class="absolute w-full bg-[#29324a] h-[100%]  flex justify-center" *ngIf="showMenu">
    <div class="flex flex-col justify-center items-center space-y-2">
        <a [routerLink]="['/']">HOME</a>
        <a [routerLink]="['/about']">ABOUT ME // SOBRE MI</a>
        <a [routerLink]="['/contact']">CONTACT // CONTACTO</a>
    </div>
</nav>
