<!-- Navbar principal -->
<nav class="w-full sm:w-1/2 mx-auto h-20 flex items-center justify-between px-4 sm:px-0">
    <a [routerLink]="['/']" class="flex items-center gap-2">
        <img src="../assets/icons/Untitled.svg" alt="Logo" width="62">
        <span class="hidden md:block">JC.Dev</span>
    </a>

    <span class=" gap-1 hidden sm:flex sm:flex-row">
        <a href="https://www.linkedin.com/in/josecvelez/" target="_blank">
            <img src="../assets/icons/linkedin.svg" alt="" class="size-8 rounded-full hover:contrast-125 hover:rotate-12 transition-all delay-75 duration-100 hover:border-2 hover:border-white">
        </a>
        <a href="https://www.linkedin.com/in/josecvelez/" target="_blank">
            <img src="../assets/icons/github.svg" alt="" class="size-8 rounded-full hover:contrast-125 hover:rotate-12 transition-all delay-75 duration-100 hover:border-2 hover:border-white">

        </a>
    </span>

    <button (click)="toggleMenu()" class="w-fit md:hidden">
        <img src="../assets/icons/menu.svg" alt="Menú" width="52" height="30">
    </button>
</nav>

<!-- Menú desplegable -->
<nav *ngIf="showMenu"
    class="fixed top-0 left-0 w-full h-full bg-[#29324a] flex flex-col items-center justify-center 
           z-50 transition-opacity duration-300 opacity-100">
    
    <!-- Botón de cierre -->
    <button (click)="toggleMenu()" class="absolute top-5 right-5 text-white text-2xl">
        ✖
    </button>

    <div class="flex flex-col items-center space-y-6 text-white text-xl">
        <a href="#proyectos" (click)="toggleMenu()">PROYECTOS</a>
        <a href="#tecnologias" (click)="toggleMenu()">TECNOLOGÍAS</a>
        <a href="mailto:josvelsei@gmail.com" (click)="toggleMenu()">CONTACTO</a>
    </div>
</nav>
