<div class="container mb-5">
  <h1 class="title">Conocimientos</h1>
  <div
    class="max-md:flex flex-col mx-auto grid grid-cols-5 movil grid-rows-5 gap-4 max-md:w-full w-2/3 uppercase"
  >
    <div
      class="rounded-lg col-span-5 row-span-1 flex justify-center items-center section-title text-white"
    >
      <h3>Tecnologías</h3>
    </div>
    <div
      class="rounded-lg shadow-lg col-span-2 r row-span-3 row-start-2 flex justify-center items-center border-1 border-white border-opacity-10 flex flex-col gap-y-5 items-center px-2 py-10 text-center text-black pattern2 flip-container handjet"
    >
      <i class="fa fa-refresh"></i>
      <p class="-skew-y-3">Open to colaborate</p>
      <p class="-skew-y-3 -mt-8">Abierto para colaborar</p>
      <a href="mailto:josvelsei@gmail.com"
        ><button
          class="flex justify-center bg-yellow-300 items-center border-2 border-yellow-600 py-1.5 px-1 rounded-md text-sm text-black w-full hover:bg-yellow-00"
        >
          <i class="fa-regular fa-paper-plane"></i>&nbsp;
          <span>¡Contáctame!</span>
        </button></a
      >
    </div>
    <div
  class="rounded-sm max-md:py-2 shadow-lg col-span-5 col-start-1 row-start-5 bg-white bg-opacity-10 flex max-md:flex-col justify-around items-center border border-white border-opacity-10"
>
  <span class="text-[#DAF7A6] max-md:text-xl">Front End</span>
  <i class="fa-brands fa-angular max-md:text-4xl"></i>
  <i class="fa-brands fa-html5 max-md:text-4xl"></i>
  <i class="fa-brands fa-css3-alt max-md:text-4xl"></i>
  <i class="fa-brands fa-figma max-md:text-4xl"></i>
  <span class="text-[#DAF7A6] max-md:text-xl">Back End</span>
  <i class="fa-brands fa-node max-md:text-4xl"></i>
  <i class="fa-brands fa-php max-md:text-4xl"></i>
  <i class="fa-brands fa-square-js max-md:text-4xl"></i>
  <i class="fa-brands fa-laravel max-md:text-4xl"></i>
  <i class="fa-brands fa-java max-md:text-4xl"></i>
</div>
    <div
      class="rounded-lg shadow-lg col-span-2 row-span-2 col-start-3 row-start-2 bg-white bg-opacity-10 border-1 border-white border-opacity-10 flex flex-col gap-y-5 items-center px-2 py-10 text-center"
    >
      <h6 class="text-white handjet2">Docker</h6>
      <i class="fa-brands fa-docker"></i>
    </div>
    <div
      class="rounded-lg shadow-lg row-span-3 col-start-5 row-start-2 bg-white bg-opacity-10 border-1 border-white border-opacity-10 flex flex-col gap-y-5 items-center px-2 py-10 text-center"
    >
      <h6 class="text-white handjet2">Control de versiones</h6>
      <img
        class="size-10 sombra"
        src="assets/images/Git_icon.png"
        alt="logo de git"
      />
      <img
        class="size-10 sombra"
        src="assets/images/desarrollador.png"
        alt="logo desarrollador"
      />
      <img
        class="size-10 sombra"
        src="assets/images/github.png"
        alt="logo github"
      />
    </div>
    <div
      class="rounded-lg shadow-lg col-span-2 col-start-3 row-start-4 bg-transparent border-1 border-white border-opacity-10 pattern flex flex-col gap-y-5 items-center px-2 py-1 justify-center"
    >
      <img class="w-40" src="assets/images/logo.png" alt="logo miniom sombra" />
    </div>
  </div>
</div>
