.title{
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #dc3545;
}
  .card{
    background-color:#ff000028;
    view-timeline-name: --card;
    view-timeline-axis: block;
    animation-timeline: --card;
    animation-name: show;
    animation-range: entry -30% cover 45%;
  }

  .fa-brands{
    color: #ffffff;
    font-size: 92px;
  }
  @media screen and (max-width: 500px) {
    .fa-brands{
        color: #ffffff;
        font-size: 64px;
      }
      .title{
        font-size: 19px;
      }
}
@keyframes show{
  from { 
    opacity: 0;
    scale: 5%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
  
}