<div class="container mb-5">
  <h1 class="title">Conocimientos</h1>
  <div class="mx-auto grid grid-cols-5 grid-rows-5 gap-4 w-2/3 mb-40 uppercase">
    <div
      class="rounded-lg shadow-lg col-span-2 row-span-4 bg-white bg-opacity-10 flex justify-center items-center border-1 border-white border-opacity-10 flex flex-col gap-y-5 items-center px-2 py-10 text-center text-white pattern2"
    >
    <p>Open to colaborate</p>
    <i class="fa fa-refresh"></i>
    <p>Abierto para colaboraciones</p> 
    </div>
    <div
      class="rounded-lg shadow-lg col-span-5 col-start-1 row-start-5 bg-white bg-opacity-10 flex justify-around items-center border-1 border-white border-opacity-10"
    >
      <i class="fa-brands fa-node"></i>
      <i class="fa-brands fa-php"></i>
      <i class="fa-brands fa-linux"></i>
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-css3-alt"></i>
      <i class="fa-brands fa-angular"></i>
      <i class="fa-brands fa-figma"></i>
      <i class="fa-brands fa-square-js"></i>
      <i class="fa-brands fa-laravel"></i>
      <i class="fa-brands fa-java"></i>
    </div>
    <div
      class="rounded-lg shadow-lg col-span-2 row-span-2 col-start-3 row-start-1 bg-white bg-opacity-10 border-1 border-white border-opacity-10 flex flex-col gap-y-5 items-center px-2 py-10 text-center"
    >
      <h6 class="text-white">Arquitecturas dockerizadas</h6>
      <i class="fa-brands fa-docker"></i>
    </div>
    <div
      class="rounded-lg shadow-lg row-span-4 col-start-5 row-start-1 bg-white bg-opacity-10 border-1 border-white border-opacity-10 flex flex-col gap-y-5 items-center px-2 py-10 text-center"
    >
      <h6 class="text-white">Control de versiones con Git</h6>
      <img
        class="size-10 sombra"
        src="assets/images/Git_icon.png"
        alt="logo de git"
      />
      <img
        class="size-10 sombra"
        src="assets/images/desarrollador.png"
        alt="logo desarrollador"
      />
      <img
        class="size-10 sombra"
        src="assets/images/github.png"
        alt="logo github"
      />
    </div>
    <div
      class="rounded-lg shadow-lg col-span-2 col-start-3 row-start-4 bg-white bg-opacity-10 border-1 border-white border-opacity-10 pattern flex flex-col gap-y-5 items-center px-2 py-1 text-center"
    >
      <img class="w-20" src="assets/images/june.png" alt="logo miniom sombra">
    </div>
  </div>
</div>
