<nav class="navbar bg-body-secondary">
    <div class="flex items-center justify-between">
        <a class="navbar-brand text-nav flex items-center" [routerLink]="['/']">
            <img src="../assets/images/logo.png" 
                 alt="Logo" width="135" height="30" class="d-inline-block align-text-top">
            JotaceCode
        </a>
        <div>
            <a class="navbar-brand ml-auto text-nav" href="mailto:josvelsei@gmail.com">Contacto</a>
            <a href="https://mega.nz/file/hutxQabB#bsFvgfKpv7lIRklxa_yCwfBh3UdNiHKXW8lcfRqBE1Q">
                <button type="button" class="btn btn-outline-danger ml-auto">
                    <i class="fa-solid fa-arrow-down"></i>&nbsp;
                    Currículum Vitae
                </button>
            </a>
        </div>
    </div>
</nav>
