nav {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C2329,#2C2329);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:aliceblue;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.fa-regular{
    font-size: 24px;
}
.text-nav{
    color: #DAF7A6;
}

