<!-- Timeline -->
<div
  class="mt-12 w-1/2 max-md:w-[95%] mx-auto rounded-lg p-2 flex flex-col md:flex-row justify-between items-center gap-5">
  <!-- item starts here -->
  <div class="mt-12 flex flex-col gap-6">
    <h1 class="text-left text-[#34cceb] title mb-10">
      Experiencia
    </h1>
    <!-- Heading -->
    <div class="ps-2 my-2 first:mt-0">
      <h3 class="text-lg font-medium uppercase text-gray-500 dark:text-yellow-300">
        May - Jun, 2024
      </h3>
    </div>
    <!-- End Heading -->

    <!-- item mas nuevo -->
    <div #experienceItem class="experience-item opacity-0 translate-y-10 transition-all duration-700 ease-in-out
         flex gap-x-3 bg-[#1d2336] shadow-md rounded-lg border border-white border-opacity-10 windosh">


      <!-- Icon -->
      <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
        <div class="relative z-10 size-7 flex justify-center items-center">
          <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pt-4 pb-8">
        <h3 class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white">
          Web Developer - fullstack
        </h3>
        <div class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
          <div class="mx-auto w-full flex justify-start items-center pr-14">
            <img class="shrink-0 size-10 rounded-full mt-1" src="assets/images/images.jpg"
              alt="logo Gabitel Ingenieros SL" />
            <div class="font-semibold  text-white">
              <!-- titulo -puesto de trabajo -->
              <h4 class="transform translate-y-2 ml-1">
                Onucode Studio - Web services and branding
              </h4>
            </div>
          </div>
<!-- Descripción -->
          <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400 pr-10">
            Junto a otros profesionales y artistas de Huelva, damos servicio a comercios locales favoreciendo su digitalización.
          </p>
          
          <button type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <img class="shrink-0 size-4 rounded-full" src="assets/images/c-sharp-c.svg" alt="Avatar" />
            C#
          </button>
          &nbsp;
          <button type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <img class="shrink-0 size-4 rounded-full" src="https://cdn-icons-png.flaticon.com/512/5968/5968322.png"
              alt="Avatar" />
            Node.js
          </button>
          &nbsp;
          <button type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <img class="shrink-0 size-4 rounded-full" src="assets/images/ts.png" alt="Avatar" />
            TypeScript
          </button>
          &nbsp;
          <button type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <img class="shrink-0 size-4 rounded-full" src="assets/images/Git_icon.png" alt="Avatar" />
            Git
          </button>
        </div>
      </div>
      <!-- End Right Content -->
    </div>

    <!-- Heading -->
    <div class="ps-2 my-2 first:mt-0">
      <h3 class="text-lg font-medium uppercase text-gray-500 dark:text-yellow-300">
        May - Jun, 2024
      </h3>
    </div>
    <!-- End Heading -->
    <!-- Item mas viejo -->
    <div #experienceItem class="experience-item opacity-0 translate-y-10 transition-all duration-700 ease-in-out
         flex gap-x-3 bg-[#1d2336] shadow-md rounded-lg border border-white border-opacity-10 windosh">


      <!-- Icon -->
      <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
        <div class="relative z-10 size-7 flex justify-center items-center">
          <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pt-4 pb-8">
        <h3 class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white">
          Web Developer - fullstack
        </h3>
        <div class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
          <div class="mx-auto w-full flex justify-start items-center pr-14">
            <img class="shrink-0 size-10 rounded-full mt-1" src="assets/images/images.jpg"
              alt="logo Gabitel Ingenieros SL" />
            <div class="font-semibold text-gray-800 text-white">
              <h4 class="transform translate-y-2 ml-1">
                Gabitel Ingenieros SL (Becario)
              </h4>
            </div>
          </div>

          <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400 pr-10">
            En la empresa me uní a un equipo de desarrollo amigable.
            Allí contribuí en proyectos con <strong>Selenium</strong>, automatizando procesos
            para actualizar datos en una BD en <strong>Node</strong>. Además, realicé una
            aplicación con <strong>ASP.NET (C#)</strong> y cliente <strong>Angular</strong> para gestionar la
            limpieza en un hotel. Todos los proyectos gestionados con
            contenedores <strong>Docker</strong>. Prácticas oficiales del grado DAW en Huelva, Andalucía.
          </p>
          <h6 class="text-white">Enlace al proyecto <span><a href="https://github.com/JotaceCode/TFG-DAW24"
                class="text-[#34cceb]"> TFG BROOM</a></span></h6>
          <button type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <img class="shrink-0 size-4 rounded-full" src="assets/images/c-sharp-c.svg" alt="Avatar" />
            C#
          </button>
          &nbsp;
          <button type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <img class="shrink-0 size-4 rounded-full" src="https://cdn-icons-png.flaticon.com/512/5968/5968322.png"
              alt="Avatar" />
            Node.js
          </button>
          &nbsp;
          <button type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <img class="shrink-0 size-4 rounded-full" src="assets/images/ts.png" alt="Avatar" />
            TypeScript
          </button>
          &nbsp;
          <button type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
            <img class="shrink-0 size-4 rounded-full" src="assets/images/Git_icon.png" alt="Avatar" />
            Git
          </button>
        </div>
      </div>
      <!-- End Right Content -->
    </div>
  </div>
  <app-download-button></app-download-button>
</div>