<!-- Timeline -->
<div class="mt-12 w-2/3 mx-auto rounded-lg p-2">
  <div class="mt-12">
    <h1 class="text-neutral-400 text-center text-[#dc3545] title mb-10">
      Experiencia
    </h1>
    <!-- Heading -->
    <div class="ps-2 my-2 first:mt-0">
      <h3
        class="text-xs font-medium uppercase text-gray-500 dark:text-neutral-400"
      >
        May - Jun, 2024
      </h3>
    </div>
    <!-- End Heading -->

    <!-- Item -->
    <div
      class="flex gap-x-3 bg-white bg-opacity-10 shadow-md rounded-lg border-1 border-white border-opacity-10"
    >
      <!-- Icon -->
      <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
      >
        <div class="relative z-10 size-7 flex justify-center items-center">
          <div
            class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"
          ></div>
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pt-1 pb-8">
        <h3 class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white">
          Web Developer - fullstack
        </h3>
        <div class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
          <div class="mx-auto w-full flex justify-start items-center pr-14">
            <img
              class="shrink-0 size-10 rounded-full mt-1"
              src="assets/images/images.jpg"
              alt="logo Gabitel Ingenieros SL"
            />
            <div class="font-semibold text-gray-800 text-white">
              <h4 class="transform translate-y-2 ml-1">
                Gabitel Ingenieros SL (Becario)
              </h4>
            </div>
          </div>

          <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
            Prácticas oficiales del grado. En la empresa me uní a un equipo de
            desarrollo
          </p>
          <button
            type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            <img
              class="shrink-0 size-4 rounded-full"
              src="assets/images/c-sharp-c.svg"
              alt="Avatar"
            />
            C#
          </button>
          &nbsp;
          <button
            type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            <img
              class="shrink-0 size-4 rounded-full"
              src="https://cdn-icons-png.flaticon.com/512/5968/5968322.png"
              alt="Avatar"
            />
            Node.js
          </button>
          &nbsp;
          <button
            type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            <img
              class="shrink-0 size-4 rounded-full"
              src="assets/images/ts.png"
              alt="Avatar"
            />
            TypeScript
          </button>
          &nbsp;
          <button
            type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            <img
              class="shrink-0 size-4 rounded-full"
              src="assets/images/ts.png"
              alt="Avatar"
            />
            Git
          </button>
        </div>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->

    <!-- Heading -->
    <div class="ps-2 my-2 first:mt-0">
      <h3
        class="text-xs font-medium uppercase text-gray-500 dark:text-neutral-400"
      >
        Sept 2022, Jun 2024
      </h3>
    </div>
    <!-- End Heading -->

    <!-- Item -->
    <div
      class="flex gap-x-3 bg-white bg-opacity-10 shadow-md rounded-lg border-1 border-white border-opacity-10"
    >
      <!-- Icon -->
      <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
      >
        <div class="relative z-10 size-7 flex justify-center items-center">
          <div
            class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"
          ></div>
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pt-1 pb-8">
        <h3 class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white">
          👨‍🎓 Técnico Superior de Desarrollo de Aplicaciones Web 🎓
        </h3>
        <div class="mt-1 text-sm text-gray-600 text-neutral-400">
          <div class="mx-auto w-full flex justify-start items-center pr-14">
            <img
              class="w-20 mt-3"
              src="assets/images/sanse.png"
              alt="logo Ies San Sebastian"
            />
            <div class="font-semibold text-gray-800 text-white">
              <h4 class="transform translate-y-2 ml-1">
                IES San Sebastián - DAW
              </h4>
            </div>
          </div>
          <p class="mt-3 pr-10">
            Durante este tiempo, adquirí una serie de competencias técnicas y
            profesionales que me prepararon para el mundo laboral en el campo
            del desarrollo web.
          </p>
          <p class="pr-10">
            El curso también abarcó tanto el desarrollo
            <strong>front-end</strong> como el <strong>back-end</strong>,
            dándome la capacidad de crear interfaces de usuario atractivas y
            desarrollar la lógica del servidor y la gestión de datos. Esta
            formación integral me permitió ofrecer soluciones completas y bien
            integradas.
          </p>
          <p class="pr-10">
            En resumen, obtener el título de <strong>DAW</strong> no solo me
            proporcionó conocimientos técnicos profundos, sino que también me
            preparó para enfrentar desafíos del mundo real, dándome las
            herramientas necesarias para destacar en el competitivo campo del
            desarrollo de aplicaciones web.
          </p>
          <h5 class="text-white">Competencias adquiridas:</h5>
          <button
            type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            <img
              class="shrink-0 size-4 rounded-full"
              src="assets/images/ts.png"
              alt="Avatar"
            />
            Diseño y desarrollo de aplicaciones web
          </button>
          &nbsp;
          <button
            type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            <img
              class="shrink-0 size-4 rounded-full"
              src="assets/images/ts.png"
              alt="Avatar"
            />
            Gestión de bases de datos
          </button>
          &nbsp;
          <button
            type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            <img
              class="shrink-0 size-4 rounded-full"
              src="assets/images/ts.png"
              alt="Avatar"
            />
            Desarrollo Front-end y Back-end
          </button>
          &nbsp;
          <button
            type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            <img
              class="shrink-0 size-4 rounded-full"
              src="assets/images/ts.png"
              alt="Avatar"
            />
            Implementación de seguridad web
          </button>
          &nbsp;
          <button
            type="button"
            class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
          >
            <img
              class="shrink-0 size-4 rounded-full"
              src="assets/images/ts.png"
              alt="Avatar"
            />
            Optimización y mantenimiento
          </button>
        </div>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->

    <!-- Collapse -->
    <div
      id="hs-timeline-collapse"
      class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300"
      aria-labelledby="hs-timeline-collapse-content"
    >
      <!-- Heading -->
      <div class="ps-2 my-2">
        <h3
          class="text-xs font-medium uppercase text-gray-500 dark:text-neutral-400"
        >
          30 Jul, 2023
        </h3>
      </div>
      <!-- End Heading -->

      <!-- Item -->
      <div class="flex gap-x-3">
        <!-- Icon -->
        <div
          class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
        >
          <div class="relative z-10 size-7 flex justify-center items-center">
            <div
              class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"
            ></div>
          </div>
        </div>
        <!-- End Icon -->

        <!-- Right Content -->
        <div class="grow pt-0.5 pb-8">
          <h3
            class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white"
          >
            Final touch ups
          </h3>
          <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
            Double check everything and make sure we're ready to go.
          </p>
        </div>
        <!-- End Right Content -->
      </div>
      <!-- End Item -->
    </div>
    <!-- End Collapse -->

    <!-- Item -->
    <div class="ps-[7px] flex gap-x-3"></div>
    <!-- End Item -->
  </div>
  <!-- End Timeline -->
</div>
