/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: linear-gradient(to right, #1B1B1B,#2C2329); 
    
}
.title {
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #dc3545;
  }

  html {
    scroll-behavior: smooth;
}