/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: #000512 !important; 
    
}
.title {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem !important;
  }

  html {
    scroll-behavior: smooth;
}


